.cursus-page .page {
    background: #2f2f2f;
}

.canvas-wrapper-cursus {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

body.visible .canvas-wrapper-cursus {
    opacity: 1;
}

.cursus-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}