.cursus-page .page {
    background: #d3e2ff;
}

.bg-front-cursus {
    position: fixed;
    bottom: -190px;
    z-index: 11;

    @media screen and (max-width:2260px) {
        bottom: -100px;
    }

    @media screen and (max-width:768px) {
        bottom: 0;
    }
}

.canvas-wrapper-cursus {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

body.visible .canvas-wrapper-cursus {
    opacity: 1;
}

.cursus-wrapper {
    width: 100%;
    position: relative;
    top: 150px;
    display: flex;
    flex: 0 0 80%;
    flex-direction: column;
    align-items: center;
    z-index: 50;
}

.clouds {
    overflow: hidden;
    max-width: 100vw;
    z-index: 10;
}

.cloud { 
    position: fixed;
    top: 0;
    left: -50vw;
    max-width: 100vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

body.visible .cloud {
  transform: rotateZ(180deg);
  height: 40vh;
  opacity: 1;
}

.cloud:nth-child(1) { animation: animate 8s linear infinite;}
.cloud:nth-child(2) { animation: animate 16s linear infinite;}
.cloud:nth-child(3) { animation: animate 24s linear infinite;}
.cloud:nth-child(4) { animation: animate 32s linear infinite;}
.cloud:nth-child(5) { animation: animate 40s linear infinite;}

@keyframes animate {
  0% {
    transform: translateX(-50vw);
    -webkit-transform: translateX(-50vw);
  }
  100% {
    transform: translateX(100vw);
    -webkit-transform: translateX(150vw);
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}