.projects-page .page {
    background: #2f2f2f;
}

.canvas-wrapper-projects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

body.visible .canvas-wrapper-projects {
    opacity: 1;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 150px;
    justify-content: space-around;
    align-items: center;
    margin: 0% 10%;
    perspective: 1200px;
}