.projects-page .page {
    background: #0b1a3a;
    z-index: 0;
    min-height: 100vh;
    
    .projects-wrapper {
        z-index: 10;
        position: relative;
        padding: 13vh 10% 0 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.bg-front-projects {
    position: fixed;
    z-index: 0;
    bottom: -220px;

    @media screen and (max-width:2260px) {
        bottom: -150px;
    }

    @media screen and (max-width:768px) {
        bottom: -50px;
    }
}

.canvas-wrapper-projects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 0;
}

body.visible .canvas-wrapper-projects {
    opacity: 1;
}

.detail-page-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 50;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.7);
    padding: 1em 10% 0 10%;

    .detail-page-content {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .nav-bullets {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100%;
        margin: 5px;

        .nav-bullet {
            width: 16px;
            height: 16px;
            cursor: pointer;
            border-radius: 8px;
            background: grey;
            margin: 10px;
            
            &:hover {
                background: lightslategrey;
            }

            &.selected {
                background: white;
            }
        }
    }

    .carousel-detail-project{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        
        img {
            max-height: 100%;
        }
    }
    
    .img-wrapper-detail-project {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        will-change: auto, opacity;
    }
    
    .clickable {
        width: 100%;
        height: 13vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .chevron-bottom-wrapper {
            width: 48px;
            cursor: pointer;
            position: relative;
            height: 100%;
            margin: 0 20px;

            &:hover {
                .chevron-left {
                    background: white;
                    transform: rotate(210deg);
                }
                .chevron-right {
                    background: white;
                    transform: rotate(-30deg);
                }
            }
        }

        .github-button {
            width: 50px;
            height: 50px;
            margin: 0 20px;
            display: flex;
            justify-content: center;
            align-content: center;

            svg {
                width: 48px;
                height: 48px;
                fill: white;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                border-radius: 25px;
                background: white;
                svg {
                    fill: black;
                }
            }
        }

        .live-button {
            display: flex;
            margin: 0 20px;
            justify-content: center;
            align-items: center;
            background: rgb(159,12,49);
            background: radial-gradient(circle, rgba(159,12,49,1) 42%, rgba(252,70,70,1) 100%);
            cursor: pointer;
            width: 48px;
            height: 48px;
            border-radius: 24px;
            -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
            animation: heartbeat 1.5s ease-in-out infinite both;
            transition: 0.3s;

            & span {
                font-family: Encode Sans;
                font-weight: 700;
            }

            &:hover {
                color: white;
            }
        }

        .chevron-left,.chevron-right {
            position: absolute;
            height: 4px;
            width: 42px;
            left: 26px;
            bottom: 25%;
            transform-origin: 0 100% 0;
            background: #818286;
            transition: all 0.150s ease-in-out;
        }
        .chevron-left {
            bottom: calc(25% + 3px);
            left: 27px;
            transform: rotate(225deg);
        }
        .chevron-right {
            transform: rotate(-45deg);
        }
    }
}


.hide {
    -webkit-animation: disappear 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: disappear 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes disappear {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
  }



  /* ----------------------------------------------
 * Generated by Animista on 2021-5-1 4:9:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-box-shadow: 0 0 0 rgba(255,255,255,0.7);
              box-shadow: 0 0 0 rgba(255,255,255,0.7);

    }
    10% {
      -webkit-transform: scale(0.94);
              transform: scale(0.94);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-box-shadow: 0 0 11px rgba(255,255,255,0.7);
              box-shadow: 0 0 11px rgba(255,255,255,0.7);
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-box-shadow: 0 0 3px rgba(255,255,255,0.7);
              box-shadow: 0 0 3px rgba(255,255,255,0.7);
    }
    33% {
      -webkit-transform: scale(0.94);
              transform: scale(0.94);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-box-shadow: 0 0 15px rgba(255,255,255,0.7);
              box-shadow: 0 0 15px rgba(255,255,255,0.7);
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-box-shadow: 0 0 0 rgba(255,255,255,0.7);
              box-shadow: 0 0 0 rgba(255,255,255,0.7);
    }
  }
@keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-box-shadow: 0 0 0 rgba(255,255,255,0.7);
              box-shadow: 0 0 0 rgba(255,255,255,0.7);

    }
    10% {
      -webkit-transform: scale(0.94);
              transform: scale(0.94);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-box-shadow: 0 0 7px rgba(255,255,255,0.7);
              box-shadow: 0 0 7px rgba(255,255,255,0.7);
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-box-shadow: 0 0 3px rgba(255,255,255,0.7);
              box-shadow: 0 0 3px rgba(255,255,255,0.7);
    }
    33% {
      -webkit-transform: scale(0.94);
              transform: scale(0.94);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.7);
              box-shadow: 0 0 10px rgba(255,255,255,0.7);
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-box-shadow: 0 0 0 rgba(255,255,255,0.7);
              box-shadow: 0 0 0 rgba(255,255,255,0.7);
    }
  }
  