.experience-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 370px;
    max-width: 40vw;
    min-width: 420px;
    background: #fafafaaa;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 25px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    text-align: center;
    padding: 10px;
    font-family: Open Sans;
    position: relative;
    left: -75px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        -webkit-box-shadow: -10px 10px 23px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: -10px 10px 23px -15px rgba(0,0,0,0.75);
        box-shadow: -10px 10px 23px -15px rgba(0,0,0,0.75);
        border-radius: 30px;
        transform: scale(1.05)
    }

    @media (max-width:768px) {
        min-width: 320px;
        left: 0;
    }
}

.even {
    position: relative;
    left: 75px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    @media (max-width:768px) {
        left: 0;
    }

    &:hover {
        -webkit-box-shadow: 10px 10px 23px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 23px -15px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 23px -15px rgba(0,0,0,0.75);
        border-radius: 10%; 
        transform: scale(1.05)
    }
}

.type-experience {
    position: absolute;
    top: 10px;
    left: 10px;
}

.sliding-panel {
    position: absolute;
    background: #181717;
    color: #fafafa;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}