.grid {
    position: relative;
    width: 100%;
    height: 100%;
}

.animated-item-wrapper {
    display:flex;
    justify-content: center;
    position: absolute;
    will-change: transform, width, height, opacity;
    padding: 15px;
    text-align: center;
}