.grid {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -25px;
}

.animated-item-wrapper {
    display:flex;
    justify-content: center;
    position: absolute;
    will-change: transform, width, height, opacity;
    padding: 15px;
    text-align: center;
}

.tags-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;

    .tag-button {
        text-transform: uppercase;
        font-size: 14px;
        font-family: Encode Sans;
        margin: 10px;
        padding: 10px;
        background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
        color: white;
        border-radius: 5px;
        font-weight: 700;
        cursor: pointer;
    }
}