.grid {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -25px;
    overflow-y: hidden;
}

.animated-item-wrapper {
    display:flex;
    justify-content: center;
    position: absolute;
    will-change: auto, width, height, opacity;
    padding: 15px;
    text-align: center;
    left:0;
}

.tags-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;

    .tag-button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 12px;
        font-family: Encode Sans;
        margin: 10px;
        padding: 10px;
        background-image: linear-gradient(135deg, #C60 10%, #C93 100%);
        color: white;
        border-radius: 5px;
        font-weight: 700;
        cursor: pointer;
        will-change: width;
        transition: all 0.3s ease;

        .tag-button-remove, .tag-button-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .tag-button-remove {
            color: #0b1a3a;
            pointer-events: none;
        }
    }
}