.fullscreen-menu-wrapper {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  nav {
    display: flex;
    flex-direction: column;
  }

  a {
    color: white;
    font-size: 42px;
    margin: 10px;
    text-decoration: none;
    font-family: Encode Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f2f2f;
    padding: 10px;
    border-radius: 3px;
  }

  a.slidein {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity: 1;
  }


  a.selected {
    color: #a2a2a2;
  }
}

.fullscreen-menu-wrapper.hidden {
  opacity: 0;
  z-index: -10;
}

.page-header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100vw;
  opacity: 1;
  transition: all 0.3s ease-in-out;
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;

  .logo {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-titre {
      font-size: 3em;
      margin-left: 15px;
      font-family: Open Sans;
      transition: all 0.3s linear;
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      @media screen and (max-width: 768px) {
        display: none;
      }

      &.hide {
        opacity: 0;
      }
    }
  }

  .menu-icon-wrapper {
    margin-right: 50px;
    z-index: 1500;
    cursor: pointer;

    .menu-icon-line {
      bottom: 0;
      width: 35px;
      height: 6px;
      background-color: black;
      margin: 6px 0;
      border-radius: 3px;
      position: relative;
    }
  }

  // .menu-icon-wrapper.in {
  //     .menu-icon-line:nth-child(3) {
  //       	-webkit-animation: bounce-bottom 0.9s both;
  //         animation: bounce-bottom 0.5s both;
  //     }
  //     .menu-icon-line:nth-child(1) {
  //       	-webkit-animation: bounce-top 0.9s both;
  //         animation: bounce-top 0.5s both;
  //     }
  // }

  // .menu-icon-wrapper.out {
  //     .menu-icon-line:nth-child(3) {
  //     	-webkit-animation: bounce-bottom 0.9s both;
  //       animation: bounce-bottom 0.5s both;
  //       -webkit-animation-direction: reverse;
  //       animation-direction: reverse;
  //   }
  //   .menu-icon-line:nth-child(1) {
  //     	-webkit-animation: bounce-top 0.9s both;
  //       animation: bounce-top 0.5s both;
  //       -webkit-animation-direction: reverse;
  //       animation-direction: reverse;
  //   }
  // }
}


@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}