.fullscreen-menu-wrapper {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  nav {
    display: flex;
    flex-direction: column;
  }

  a {
    color: white;
    font-size: 42px;
    margin: 10px;
    text-decoration: none;
  }

  a.selected {
    color: blue;
  }
}

.fullscreen-menu-wrapper.hidden {
  opacity: 0;
  z-index: -10;
}

.page-header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  flex: 0 0 100%;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100vw;

  .logo {
    margin-left: 50px;
  }

  .menu-icon-wrapper {
    margin-right: 50px;
    z-index: 1500;
    cursor: pointer;

    .menu-icon-line {
      width: 35px;
      height: 6px;
      background-color: black;
      margin: 6px 0;
      border-radius: 3px;
    }
  }
}