.fullscreen-menu-wrapper {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  nav {
    display: flex;
    flex-direction: column;
  }

  a {
    color: white;
    font-size: 42px;
    margin: 10px;
    text-decoration: none;
    font-family: Encode Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f2f2f;
    padding: 10px;
    border-radius: 3px;
  }

  a.selected {
    color: #a2a2a2;
  }
}

.fullscreen-menu-wrapper.hidden {
  opacity: 0;
  z-index: -10;
}

.page-header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  flex: 0 0 100%;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100vw;
  opacity: 1;
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;

  .logo {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 3em;
      margin-left: 15px;
      font-family: Acme;
    }
  }

  .menu-icon-wrapper {
    margin-right: 50px;
    z-index: 1500;
    cursor: pointer;

    .menu-icon-line {
      width: 35px;
      height: 6px;
      background-color: black;
      margin: 6px 0;
      border-radius: 3px;
    }
  }
}


@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}